body {
    background:url('bg.jpg') no-repeat 0% 87% fixed;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    text-align:center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
}
 
.wrap {
    margin: 2% auto;
    background: skyblue;
    width: 32%;
    font-family: monospace;
    padding: 0 20px;
}

.head {
    font-size: 38px;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
}
.main{
    position:relative;
}
 
.main input[type="text"],.main input[type="password"]  {
    outline: none;
    font-size: 18px;
    font-weight: bold;
    margin: 4px 0px 18px 1px;
    color: black;
    padding: 10px 38px;
    border: none;
    border-radius: 2px;
    width: 68%;
    font-family: monospace;
}

.container input {

     position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

}
.main input[type="submit"] {
    color: white;
    background: blue;
    border: none;
    padding: 14px 50px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 2px;
    margin: 17px;
    font-family: monospace;
    cursor:pointer;
    text-transform:uppercase;
    transition:0.8s all;
     
}
.main input[type="submit"]:hover {
    background: orange;
    color: black;
    transition:0.8s all;
     
}
